.navbar-height {
  height: 6rem;
  background: #000 !important;
  ;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-spacer1 {
  flex: .03 1 auto;
}

.fixed-top {
  position: sticky;
}

.mat-toolbar-design {
  background-color: rgb(35, 32, 32);
}

.mat-button-design {
  background-color: rgb(35, 32, 32);
  color: white;
}

.example-icon {
  color: white;
}